
server:
  port: 8093


spring:
  application:
    name: msvc-course
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/courseDb
    username: postgres
    password: 9739
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    database: postgresql
    
  config:
    import: optional:configserver:http://localhost:8888  

eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/  
